.nav {
  display: flex;
  font-size: $small;
  margin-top: 1.5em;
}

.nav__menu {
  display: flex;
}

.nav__logo {
  display: flex;
}

.nav__item {
  list-style-type: none;
  margin-right: 1em;
}

.nav__buttons {
  display: flex;
  margin-left: auto;
}

.nav__buttons--sesion {
  margin-right: 1em;
  font-weight: $bold;
}

.nav__buttons--registro {
  background-color: $ball-blue;
  border: 0px solid;
  color: $white;
  padding-right: 1em;
  padding-left: 1em;
}
